body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

input#display {
    width: 230px;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 10px;
    font-size: 20px;
}

button.operator {
    background-color: #ff6666;
    color:white;
}